/* root */
:root {
  --colorBorder: #e6e6e6;
  --colorWhite: #fff;
  --colorBlack: #333;
  --colorGray: #666;
  --colorDarkBlack: #101010;
  --colorRed: #e5006b;
  --colorBlue: #6aafe6;
  --colorDarkBlue: #024274;
  --colorLogo: #006caf;
  --colorHover: #f8faff;
  --colorBackground: #f6f8fa;
  --colorStar: #fd8309;
  --colorMint: #00c3bd;
  --colorYellow: #fce205;
  --colorGreen: #77af9c;
  --colorGreen2: #519d9e;
  --colorpurple: #ba55d3;
  --colorLogoBLue: #005bac;
  --colorLogoOrange: #ea5404;
  --colorLogoRed: #eb3341;
  --colorLogoGreen: #5cc377;
  --colorLogoGreen2: rgb(72, 174, 99);
  --colorLogoGreen3: rgb(29, 138, 58);
  --colorLogoYellow: #fad393;
  --colorBackgroundGray: #717171;
  --colorBackgroundBeige: #f5f5f5;
  --colorHover: #9db5cd;
  --colorPink2: #ffd3a6d9;
  --1: 1em;
  --5: 0.5rem;
  --10: 1rem;
  --20: 2rem;
  --30: 3rem;
  --50: 5rem;
  --80: 8rem;
}

/* font */

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 100;
  src: local("Noto Sans Light"), local("NotoSans-Light"),
    url(/assets/css/fonts/NotoSans-Light.eot);
  src: url(/assets/css/fonts/NotoSans-Light.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NotoSans-Light.woff2) format("woff2"),
    url(/assets/css/fonts/NotoSans-Light.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 300;
  src: local("Noto Sans Regular"), local("NotoSans-Regular"),
    url(/assets/css/fonts/NotoSans-Regular.eot);
  src: url(/assets/css/fonts/NotoSans-Regular.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NotoSans-Regular.woff2) format("woff2"),
    url(/assets/css/fonts/NotoSans-Regular.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 500;
  src: local("Noto Sans Medium"), local("NotoSans-Medium"),
    url(/assets/css/fonts/NotoSans-Medium.eot);
  src: url(/assets/css/fonts/NotoSans-Medium.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NotoSans-Medium.woff2) format("woff2"),
    url(/assets/css/fonts/NotoSans-Medium.woff) format("woff");
}

@font-face {
  font-family: "Noto Sans KR";
  font-style: normal;
  font-weight: 700;
  src: local("Noto Sans Bold"), local("NotoSans-Bold"),
    url(/assets/css/fonts/NotoSans-Bold.eot);
  src: url(/assets/css/fonts/NotoSans-Bold.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NotoSans-Bold.woff2) format("woff2"),
    url(/assets/css/fonts/NotoSans-Bold.woff) format("woff");
}

@font-face {
  font-family: "Nanum Myeongjo";
  font-style: normal;
  font-weight: 900;
  src: local("※"), url(/assets/css/fonts/NanumMyeongjoEB.eot);
  src: url(/assets/css/fonts/NanumMyeongjoEB.eot?#iefix)
      format("embedded-opentype"),
    url(/assets/css/fonts/NanumMyeongjoEB.woff2) format("woff2"),
    url(/assets/css/fonts/NanumMyeongjoEB.woff) format("woff");
}

/* animation */

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* color */
.hide {
  display: none;
}

.tit_padding {
  padding-left: 2rem;
  color: var(--colorBlack);
  font-weight: bold;
  margin-left: 0px;
  display: block;
  font-size: 3rem;
  line-height: 3rem;
  margin: 2rem 0;
}

<<<<<<< HEAD
=======
.dataTables_paginate {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.dataTables_paginate > span {
  display: flex;
  gap: 0.8rem;
}

.paginate_button {
  border: 1px solid var(--colorBorder);
  border-radius: 50%;
  color: #111;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.current {
  text-align: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: var(--colorLogo);
  color: #fff;
}

>>>>>>> 6c86d7f (update: main.js,style.css BY 정태 깃헙)
.note_text {
  width: 100%;
  height: 13rem;
  margin-top: 3rem;
}

.menu_red {
  color: var(--colorLogoRed);
}

.menu_Orange {
  color: var(--colorLogoOrange);
}

.menu_yellow {
  color: var(--colorYellow);
}

.menu_green {
  color: var(--colorLogoGreen);
}

.menu_blue {
  color: var(--colorLogoBLue);
}

.PwBtnArea {
  padding-top: 5rem;
}

.popup_BTN {
  cursor: pointer;
}

.word_BTN {
  background: #0072cd;
}

.pdf_BTN {
  background: #ad0b00;
}

.pdf_BTN2 {
  background: #d60000;
}

.item_popup {
  display: none;
  position: absolute;
  margin-top: 2%;
  word-break: keep-all;
  width: 130px;
  height: auto;
  background-color: var(--colorBlue);
  color: white;
  font-size: 10px;
  border-radius: 5px;
  padding: 5px;
  font-weight: 400;
  letter-spacing: calc((-15 / 1000) * 1em);
  z-index: 14;
  line-height: 21px;
  text-align: center;
  left: 50%;
<<<<<<< HEAD
=======
  padding: 1rem;
>>>>>>> 6c86d7f (update: main.js,style.css BY 정태 깃헙)
  top: 100%;
  transform: translateX(-50%);
}

.rainbow_border {
  background: var(--colorBackground);
  display: flex;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
    to right,
    #eb0e1f 0%,
    #f39801 33%,
    #18a53d 66%,
    #005c9f 100%
  );
  border-image-slice: 1;
}

.Ranklist_Background {
  background: var(--colorBackgroundBeige);
}

.MainRank_tit > h1 > .crown {
  color: #ffd700;
}

.MainRank_tit > h1 > .group {
  color: #6495ed;
  padding-left: 1rem;
}

.MainRank_tit > h1 > .calendar {
  color: #6495ed;
  padding-left: 1rem;
}

.MainRank_tit > h1 > .timer {
  color: #f56464;
  padding-left: 1rem;
}

.MainRank_tit > h1 > .key {
  color: #d8dae0;
  padding-left: 1rem;
}

.MainRank_tit > h1 > .chart {
  color: #ff8c00;
  padding-left: 1rem;
}

.BTN_blue4 {
  background: #0072cd !important;
}

.BTN_DarkBlue {
  background: var(--colorDarkBlue) !important;
}

.BTN_purple {
  background: var(--colorpurple) !important;
}

.BTN_green {
  background: var(--colorLogoGreen) !important;
}

.BTN_Blue {
  background: #4196d9 !important;
}

.BTN_Red {
  background: var(--colorRed) !important;
}

.BTN_yellow {
  background: var(--colorLogoYellow) !important;
}

.BTN_Orange {
  background: var(--colorLogoOrange) !important;
}

.BTN_blue2 {
  background: #78bfff !important;
}

.BTN_blue3 {
  background: var(--colorLogoBLue) !important;
}

.BTN_Orange2 {
  background: #ff5630 !important;
}

.BTN_Red2 {
  background: var(--colorLogoRed);
}

.full_width {
  width: 100% !important;
}

.full_div {
  word-wrap: break-word;
  flex-wrap: wrap;
  width: 70%;
  gap: 6px;
}

.full_div>label {
  display: flex;
}

.full_span {
  width: 15% !important;
}

.result_blueBTN {
  background: white;
  border: 2px solid #7074c9 !important;
  color: #7074c9 !important;
  font-weight: bold !important;
}

.result_redBTN {
  background: white;
  border: 2px solid #ff7171 !important;
  color: #ff7171 !important;
  font-weight: bold !important;
}

.result_orangeBTN {
  background: white;
  border: 2px solid #ffa15f !important;
  color: #ffa15f !important;
  font-weight: bold !important;
}

.result_greenBTN {
  background: white;
  border: 2px solid #53af76 !important;
  color: #53af76 !important;
  font-weight: bold !important;
}

.result_greenBTN:hover {
  color: white !important;
  background: #53af76 !important;
}

.result_redBTN:hover {
  color: white !important;
  background: #ff7171 !important;
}

.result_blueBTN:hover {
  color: white !important;
  background: #7074c9 !important;
}

.result_orangeBTN:hover {
  color: white !important;
  background: #ffa15f !important;
}

.tit_left_red {
  border-left: 9px solid var(--colorLogoRed);
}

.tit_left_green {
  border-left: 9px solid var(--colorLogoGreen);
}

.tit_left_yellow {
  border-left: 9px solid var(--colorLogoYellow);
}

.tit_left_blue {
  border-left: 9px solid var(--colorLogoBLue);
}

.tit_left_Orange {
  border-left: 9px solid var(--colorLogoOrange);
}

input::placeholder {
  color: var(--colorLogo);
}

.matchBtn {
  background: #dd4132;
}

.ID_Print {
  background: var(--colorYellow);
}

.excel_Print {
  background: var(--colorGreen);
}

.excel_input {
  background: var(--colorGreen2);
}

.excel_form {
  background: var(--colorLogoGreen3);
}

.ExcelBtn {
  display: flex;
  gap: 5px;
}

.prevent {
  overflow: hidden;
}

/* checkBox */
input[type="checkbox"][disabled]:checked {
  appearance: none;
  background-image: url(/assets/images/btn_check.png);
  background-color: var(--colorLogo);
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-size: cover;
  /* 체크박스 요소의 크기 */
}

input[type="checkbox"][disabled]:not(:checked) {
  appearance: none;
  background-color: rgb(255, 255, 255);
  border: 1px solid blue;
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  background-size: cover;
  /* 체크박스 요소의 크기 */
}

/* 체크박스 이미지 조각의 위치 */
input[type="checkbox"][disabled]:not(:checked):before {
  background-position: 0 0;
  /* 체크박스가 선택되지 않은 상태 */
}

input[type="checkbox"][disabled]:checked:before {
  background-position: -20px 0;
  /* 체크박스가 선택된 상태 */
}

/* pagination */

.pagination {
  display: flex;
  gap: 0.8rem;
}

.pagination > li {
  width: 42px;
  height: 42px;
  border: 1px solid var(--colorBorder);
  border-radius: 50%;
}

.pagination > li:hover {
  background: var(--colorBorder);
}

.pagination > li:first-child,
.pagination > li:last-child {
  border: 1px solid var(--colorBorder);
  border-radius: 50%;
  color: #111;
}

.pagination > li a {
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-weight: 300;
}

.pagination > li a em {
  width: 40px;
  height: 40px;
  text-align: center;
  font-weight: 100;
  line-height: 40px;
}

.pagination > li a i::before {
  font-size: 30px;
  display: block;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding-top: 3rem;
}

.pagination .clicked {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--colorLogo);
  color: #fff;
}

.pagination .click {
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: var(--colorLogo);
  color: #fff;
}

/* 페이지 네이션 끝 */
.Wrapper {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.TopWrapper {
  padding-top: 13rem;
}

.BottomWrapper {
  padding-bottom: 10rem;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem 1rem;
}

/* header */
.headerWrapper {
  width: 100%;
  position: fixed;
  z-index: 9999;
}

.headerBody {
  padding-top: 1rem;
  padding-bottom: 1.1rem;
  background: white;
  border-bottom: 4px solid transparent;
  border-image: linear-gradient(
    to right,
    #eb0e1f 0%,
    #f39801 33%,
    #18a53d 66%,
    #005c9f 100%
  );
  border-image-slice: 1;
}

.headerWrapper .headerBodyLayout {
  max-width: 160rem;
  margin: 0 auto;
  padding: 0 2rem;
  height: 6rem;
}

.headerBodyLayout .logo {
  display: inline-block;
  width: 16%;
  padding-top: 1rem;
  margin-right: 1rem;
}

.headerBodyArea {
  display: flex;
  justify-content: space-between;
}

.gnbMask {
  width: 62%;
  height: 100%;
}

.headerBodyLayout .logo a {
  display: block;
  background-image: url(/assets/images/logo.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  height: 4rem;
  font-size: 1px;
  text-indent: -9999vw;
  color: transparent;
  width: 8rem;
}

.headerBodyArea .UserPage {
  height: 6rem;
  line-height: 6rem;
  font-size: 22px;
  float: right;
  display: flex;
  gap: 30px;
  justify-content: flex-end;
  width: 22%;
  font-weight: 500;
}

.headerBodyArea .UserPage > a:nth-child(1) {
  color: var(--colorLogo);
  display: flex;
  align-items: center;
}

.headerBodyArea .UserPage > a:nth-child(2) {
  color: #eb0e1f;
  display: flex;
  align-items: center;
}

.headerBodyArea .UserPage > a:nth-child(1) > p,
.headerBodyArea .UserPage > a:nth-child(2) > p {
  font-size: 16px;
  white-space: nowrap;
  padding-left: 0.5rem;
}

.gnb {
  display: flex;
  width: 100%;
}

.gnbList > li {
  width: 20%;
  display: block;
  text-align: center;
}

.gnbItem > div:nth-child(1) > span {
  line-height: 6rem;
  display: block;
  letter-spacing: -1px;
  height: 6rem;
  cursor: pointer;
  color: var(--colorDarkBlack);
}

.gnbBack > div:nth-child(1) > span {
  color: var(--colorLogo);
}

.gnbList > li > div:nth-child(1) > span > i:nth-child(3) {
  transition-duration: 0.5s;
  padding-left: 10px;
  padding-right: 10px;
}

.gnbItem > div:nth-child(1) > span > i:nth-child(1) {
  padding-right: 5px;
}

.gnbItem > div:nth-child(1) > span > i:nth-child(2) {
  display: none;
}

.gnbList > li > div:nth-child(1) > span:hover {
  color: var(--colorLogo);
}

.gnbItem > div:nth-child(1) > i {
  display: none;
}

.gnbDetailMenuList {
  display: none;
  position: fixed;
  left: 0;
  top: 85px;
  background: var(--colorBackground);
  box-shadow: 0 4px 9px -7px #222;
  animation: fadein 0.6s;
  -moz-animation: fadein 0.6s;
  -webkit-animation: fadein 0.6s;
  -o-animation: fadein 0.6s;
}

.gnbDetailMenuList > ul {
  display: flex;
  padding: 1rem;
  gap: 25px;
  width: 100%;
  justify-content: center;
  max-width: 160rem;
  margin: 0 auto;
}

.gnbDetailMenuList > ul > li > a {
  padding: 1rem;
  line-height: 50px;
}

.gnbDetailMenuList > ul > li > a:hover {
  color: var(--colorLogo);
}

.gnbBack > div {
  display: block;
  width: 100%;
}

.gnbBack > div > span > i:nth-child(3) {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.gnbBack > div:nth-child(1) > span > i:nth-child(2) {
  display: inline-block;
  padding-right: 5px;
}

.gnbBack > div > span > i:nth-child(1) {
  display: none;
}

.gnb > .gnbList {
  display: flex;
  font-weight: 500;
  width: 100%;
  font-size: 16px;
}

.gnbBack {
  border-radius: 0.475rem;
  background: var(--colorBackground);
}

.sideBtn {
  display: none;
}

.menuBtn {
  display: none;
  cursor: pointer;
  vertical-align: middle;
  outline: none;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}

.menuopen {
  visibility: visible;
  opacity: 1;
}

/* header 끄읏 */

/* 메인페이지 랭킹 부분 */

.MainRank {
  padding: 0 2rem 5rem;
  background: white;
  margin-bottom: 5rem;
  box-shadow: 0 0 10px 0 rgb(93 144 255 / 20%);
  border-radius: 25px;
}

.MainRank .MainRank_tit > h1 {
  color: var(--colorBlack);
  margin-left: 0;
  display: block;
  font-size: 5rem;
  font-weight: bold;
  line-height: 5rem;
  padding: 4rem 0 2rem;
}

/*  메인 랭킹 끝 */

/* 참가자 관리 선수 임원 심판 코치 작업 부분 */

.athlete {
  position: relative;
  height: auto;
  padding: 3rem 5rem;
  background: white;
  box-shadow: 0 0 10px 0 rgb(93 144 255 / 20%);
  border-radius: 25px;
}

.athlete > .profile_logo {
  position: absolute;
  top: 1%;
  right: 20px;
  width: 80px;
  height: 80px;
}

.athlete > .profile_logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.UserProfile > .UserProfile_tit {
  padding-left: 2rem;
  color: var(--colorBlack);
  font-weight: bold;
  margin-left: 0px;
  display: block;
  font-size: 3rem;
  line-height: 3rem;
}

.UserProfile_modify {
  display: flex;
  align-items: center;
}

.coachArea {
  height: auto;
}

.UserProfile_modify > div:nth-child(1) > img {
  height: 100%;
  width: 200px;
  object-fit: cover;
}

.athlete .UserProfile > form > .UserProfile_modify > div:nth-child(2) {
  width: 100%;
}

.UserDesc .row {
  width: 100%;
  display: flex;
  text-align: left;
  border-bottom: 1px solid var(--colorBorder);
  padding: 12px;
  align-items: center;
  margin: 10px 0 10px 0;
}

.UserDesc .row > span {
  color: var(--colorGray);
  width: 16%;
  line-height: 20px;
}

.UserDesc .Desc_item > span {
  width: 15%;
}

.UserDesc .row > input {
  border: 0;
  background: transparent;
  font-weight: 300;
  width: 85%;
  outline: none;
  font-size: 16px;
  cursor: text;
}

.UserDesc .row > div {
  display: flex;
  height: 100%;
  width: 70%;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
}

.UserDesc .row > div > input {
  border: 0;
  background: transparent;
  outline: none;
  font-size: 16px;
  cursor: text;
  border: 1px solid var(--colorBorder);
  padding-left: 1rem;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

input[type="time"]::-webkit-inner-spin-button,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}

.UserDesc .row > select {
  border: 0px;
  background: transparent;
  width: 85%;
  outline: none;
  font-size: 16px;
  font-weight: 700;
}

<<<<<<< HEAD
.UserDesc .row>select:focus {
  background: var(--colorLogo);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: white;
=======
.UserDesc .row > select:focus {
  background: var(--colorPink2);
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: black;
>>>>>>> 6c86d7f (update: main.js,style.css BY 정태 깃헙)
}

.UserDesc .check > input {
  width: 16px;
  cursor: pointer;
}

.UserDesc .row_item > span {
  width: 10%;
}

.modify_enter > p {
  color: var(--colorBlack);
  display: block;
  font-size: 3rem;
  line-height: 3rem;
  margin: 2rem 0px;
  font-weight: bold;
  padding-left: 2rem;
}

.enter {
  border: 1px solid var(--colorBorder);
}

.attend {
  border: 1px solid var(--colorBorder);
}

.modifyform {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  font-size: 14px;
  justify-content: space-between;
}

.modify_checkList {
  display: flex;
  flex-wrap: wrap;
}

.modify_check {
  width: 48%;
}

.modify_container {
  width: 100%;
  font-size: 14px;
}

.UserDesc .modify_row > span {
  width: 22%;
  color: var(--colorGray);
}

.modify_checkList > li > label {
  width: auto;
  line-height: 50px;
  display: block;
  padding-right: 20px;
}

/* 참가자 관리 수정에 참가자 정보 부분 */
.UserProfile_input {
  width: 100%;
  display: block;
}

/* 선수 정보 보기 */

.infoDesc .row {
  margin: 3rem 0;
}

.infoDesc .row > p {
  font-weight: 300;
  padding-left: 2rem;
}

.modify_check .enter .enter_item {
  display: flex;
}

.modify_check .enter .enter_item > li {
  padding: 20px 10px;
  width: 100%;
  text-align: center;
  color: #222;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  border-right: 1px solid var(--colorBorder);
  font-weight: 300;
  word-break: break-all;
}

.modify_check .enter .enter_item > li:last-child {
  border: 0;
}

.modify_check .enter .enter_list > li {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  color: #222;
  height: 60px;
  border-right: 1px solid var(--colorBorder);
}

.modify_check .enter .enter_list > li:last-child {
  border: 0;
}

.modify_check .attend .attend_item {
  display: flex;
}

.modify_check .attend .attend_list > li {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  color: #222;
  height: 60px;
}

.modify_check .attend .attend_list > li {
  border-right: 1px solid var(--colorBorder);
}

.modify_check .attend .attend_list > li:last-child {
  border: 0;
}

.modify_check .attend .attend_item > li {
  padding: 20px 0;
  width: 100%;
  text-align: center;
  font-weight: 300;
  color: #222;
  background: #fff;
  height: 60px;
}

.modify_check .attend .attend_item > li {
  border-right: 1px solid var(--colorBorder);
}

.modify_check .attend .attend_item > li:last-child {
  border: 0;
}

.modify_Btn {
  display: flex !important;
  justify-content: space-between;
  padding-top: 2rem;
}

.input_Btn {
  display: block;
  text-align: right;
  width: 100%;
}

.modify_Btn > button {
  height: 50px;
  width: 45%;
  color: var(--colorWhite);
  border: 0;
  cursor: pointer;
  border-radius: 10px;
}

/*선수 테이블 정렬 부분 */

.defaultBtn {
  vertical-align: text-top;
  height: 30px;
  margin: 0;
  padding: 0 5px;
  font-weight: 300;
  outline: none;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

.BIG_btn {
  width: auto;
  height: 40px;
  padding: 0 1.5rem;
}

.BIG_btn2 {
  padding: 0 2rem;
  width: auto;
  height: 40px;
  display: flex;
  align-items: center;
}

.changePwBtn {
  width: 100%;
  font-size: 20px;
  line-height: 1em;
  padding: 16px;
  height: auto;
  background: var(--colorLogo);
}

.nextBTN {
  width: 50%;
  line-height: 1em;
  padding: 16px;
  height: auto;
}

.resetBTN {
  width: 50%;
  line-height: 1em;
  padding: 16px;
  height: auto;
}

/* 경기 결과 목록 */

/* 경기 결과 끝 */

.country_input {
  height: auto;
}

/* 국가별 순위 보기 꿑 */

.SearchBtn {
  border: 0;
  border-radius: 9px;
  font-size: 17px;
  border: 1px solid var(--colorBorder);
  cursor: pointer;
  padding: 0 2rem;
}

.SearchBtn:hover {
  background: var(--colorLogo);
  color: white;
}

.defaultBtn.trackBtn {
  background: rgb(180, 180, 0);
}

.defaultBtn.synthesis {
  background: rgb(64, 64, 39);
}

.defaultBtn.fieldBtn {
  background: rgb(0, 180, 39);
}

.defaultBtn.detailInfoBtn {
  background: #024274;
}

.defaultBtn.makeGroupBtn {
  background: #ffa600;
  word-break: break-all;
}

.playerRegistrationBtnArea {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.playerRegistrationBtnArea > div > button {
  font-weight: 300;
}

.defaultPagination {
  display: flex;
  justify-content: center;
}

.defaultPageItem {
  margin-right: 5px;
  font-size: 16px;
}

.defaultPageItem .defaultPageLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
}

.defaultPageItem.active {
  background: var(--colorBlue);
  border-radius: 5px;
  color: #fff;
}

.defaultSelectArea {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  height: 4rem;
}

.defaultSelectArea select {
  padding: 0 2.8rem 0 1rem;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--colorBorder);
  outline: none;
  cursor: pointer;
  appearance: none;
  background: url(/assets/images/bg_selectArrow_down.png) right center no-repeat;
}

.defaultSelectArea select::-ms-expand {
  display: none;
}

.defaultSelectArea .defaultSearchInput {
  height: 100%;
  border: 1px solid var(--colorBorder);
  border-right: 0;
  outline: none;
  padding-left: 10px;
  border-top-left-radius: 10px;
  font-weight: 100;
  border-bottom-left-radius: 10px;
  font-size: 12px;
}

.defaultSelectArea .search {
  height: 40px;
  display: flex;
}

.defaultSelectArea .defaultSearchBth {
  height: 100%;
  border: 1px solid var(--colorBorder);
  cursor: pointer;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* 조편성 */
.schedule_container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 3rem 1rem;
}

.schedule {
  position: relative;
}

.schedule_flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.schedule_filed {
  position: relative;
  height: auto;
  padding: 3rem;
  background: white;
  display: flex;
  margin-bottom: 5rem;
  border-radius: 25px;
  box-shadow: 0 0 10px 0 rgb(93 144 255 / 20%);
  flex-direction: column;
  justify-content: space-between;
}

.schedule_filed > .profile_logo {
  position: absolute;
  top: 0;
  right: 20px;
  width: 100px;
  height: 100px;
  z-index: 1;
}

.schedule_filed > .profile_logo > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.filed_list_item {
  width: 49%;
  height: 100%;
}

.changefiled {
  width: 100%;
}

.schedule_filed_tit {
  display: flex;
  margin-bottom: 5rem;
  justify-content: space-between;
}

.schedule_filed_tit > span {
  font-size: 12px;
  padding: 8px 10px;
  cursor: text;
}

.schedule_filed .schedule_filed_tit > p {
  padding-left: 2rem;
  color: var(--colorBlack);
  margin-left: 0px;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}

.BTNform {
  display: flex;
  gap: 20px;
  padding: 2rem 0;
}

.BTNform2 {
  gap: 5px;
}

input::-webkit-inner-spin-button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.schedule_filed .filed_item > ul > li > select {
  width: 100%;
  outline: 0;
  height: 100%;
  background: transparent;
  border: 0;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 12px;
}

.filed2_item > ul {
  gap: 20px;
}

.schedule_change_members > .input_text {
  width: 100%;
  height: 60px;
  padding: 0 1rem;
  border-radius: 5px;
}

/* 대상 바꾸기 페이지 */
.schedule_change_members > form > select {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  padding: 0 1rem;
}

.filed_BTN {
  padding: 1rem 0;
  text-align: right;
  display: flex;
  justify-content: space-between;
}

.filed_BTN > div:nth-child(1) {
  display: flex;
  gap: 5px;
}

.filed_BTN > div:nth-child(2) {
  display: flex;
  gap: 5px;
}

.filed_BTN2 {
  text-align: right;
  padding: 1rem 0;
}

.filed_BTN .filedBTN {
  font-size: 14px;
}

.filed_Item > a {
  cursor: pointer;
}

/* 조 편성하기 */
.round_tit {
  margin: 5rem 0px;
}

/* 조 수정하기 */
.grouping_body > tr > td > input[name="name"] {
  width: 100%;
  border: 1px solid var(--colorBorder);
}

.grouping_body > tr > td > input[name="name"]:focus {
  background-color: var(--colorPink2);
  outline: 0;
}

/* 창 던지기 페이지 */
.thorw_main {
  height: auto;
}

.throwDesc {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.throwDesc > .row > span {
  width: 20%;
  font-size: 13px;
  margin-right: 1rem;
}

.UserDesc .throw_row > input {
  width: 80%;
  font-size: 14px;
}

.UserDesc .throw_row {
  width: 49%;
}

.UserDsc .referee_tit > input {
  border: 0;
}

.high_jump {
  font-size: 14px;
}

<<<<<<< HEAD
.UserDesc .referee_row>input {
  width: 90%;
}

.UserDesc .referee_row>span {
  width: 10%;
=======
.UserDesc .referee_row > input {
  width: 93%;
>>>>>>> 6c86d7f (update: main.js,style.css BY 정태 깃헙)
}

.Thorw_result > div > .throw_tit {
  padding-left: 2rem;
  color: var(--colorBlack);
  display: block;
  font-size: 3rem;
  font-weight: bold;
  margin: 4rem 0;
  line-height: 3rem;
}

/* 멀리뛰기 결과지 */

.jump_tit > span {
  padding: 2.3rem 0;
  height: 100%;
  display: block;
}

.jump_number2 > input {
  height: 100%;
}

.jump_text > input {
  height: 100%;
}

/* 높이뛰기 */

.Ranklist_Background > ul > li > p > input {
  background: transparent;
}

.Ranklist_Background > ul > li > select {
  background: transparent;
}

.Ranklist_Background > ul > li > p > input {
  background: transparent;
}

/* 달리기 페이지*/
.Thorw_result {
  font-size: 14px;
}

/* ID card */
.ID_back {
  width: 70rem;
}

.ID_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  position: relative;
  height: 800px;
  padding: 0 55px;
}

.ID_card > img {
  height: 375px;
  width: 250px;
  position: relative;
  border-radius: 10px;
}

/* 로그인 페이지 */
.loginBox {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
}

.login_Logo > img {
  display: block;
  margin: 0 auto;
  width: 20rem;
  padding-top: 150px;
  padding-bottom: 20px;
}

.login_pannel {
  display: block;
  margin: 0 auto;
  width: 580px;
  border-radius: 3%;
  background: var(--colorWhite);
  box-shadow: 0 0 10px 0 rgb(93 144 255 / 20%);
}

.login_pannel_inner {
  padding: 20px;
}

.id_pw_wrap {
  display: block;
}

.login_row {
  width: 100%;
  display: inline-block;
  text-align: left;
  border: 1px solid var(--colorBorder);
  border-radius: 5px;
  padding: 12px;
  margin: 10px 0 20px 0;
}

.login_row > input {
  position: relative;
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  border: 0;
  background: transparent;
  outline: 0;
}

.login_row > input::placeholder {
  color: var(--colorLogo);
}

.login_Logo {
  padding-bottom: 4rem;
}

.btn_login {
  display: block;
  width: 100%;
  padding: 16px;
  border-radius: 5px;
  background-color: var(--colorLogoBLue);
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  color: var(--colorWhite);
  border: 0;
  margin-top: 5rem;
  cursor: pointer;
}

/* 오른쪽 탑 버튼 */
.top {
  position: fixed;
  bottom: 2%;
  right: 2%;
  z-index: 100;
  width: 54px;
  height: 54px;
}

#js-scroll {
  height: 100%;
  background: var(--colorLogoBLue);
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}

.topBtn {
  font-size: 2em;
  padding-top: 10px;
  line-height: 1;
  height: 100%;
  color: white;
  width: 100%;
}

/* 계정 관리 부분 */
.MainRank .title {
  font-size: 24px;
  line-height: 1em;
  color: #495057;
  padding: 0 30px 14px;
  border-bottom: 1px solid var(--colorBorder);
}

.MainRank .defaultContents {
  padding: 30px;
}

.MainRank .myPageBox {
  display: flex;
  margin-bottom: 20px;
}

.MainRank .myPageBox > p:nth-child(1) {
  color: var(--colorGray);
  font-weight: 500;
}

.MainRank .myPageBox p {
  width: 20%;
}

.MainRank .myPageBox p:last-child {
}

.changePwLink {
  transition: all 0.2s;
}

.changePwLink:hover {
  color: var(--colorBlue);
}

.labelBox > h1 {
  color: var(--colorBlack);
  margin-left: 0;
  display: block;
  font-size: 5rem;
  line-height: 5rem;
  padding: 3rem 0;
  font-weight: 700;
}

.MainRank .myPageBox.labelBox {
  display: block;
  padding: 0;
}

.mypage_account {
  padding-top: 5rem;
}

.labelBox .labelItem {
  display: flex;
  padding: 1rem 0;
}

.labelBox .labelItem > label:nth-child(1) {
  color: var(--colorGray);
  font-weight: 500;
}

.labelBox .labelItem label {
  width: 20%;
  font-weight: 100;
}

.changePwFormArea {
  padding: 0 30px 0;
}

.changePwNotice {
  padding: 10px 30px 20px;
}

.changePwNotice h5 {
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 10px;
  color: #616161;
}

.changePwNotice p {
  padding-bottom: 8px;
  color: #444444;
  font-size: 14px;
  line-height: 1em;
  font-weight: 600;
}

.changePwInputArea {
  border: 0;
  border-bottom: 1px solid var(--colorBorder);
  padding: 12px;
  margin: 10px 0 20px 0;
}

.changePwInputArea input {
  width: 100%;
  outline: none;
  border: 0;
  font-size: 16px;
  line-height: 1em;
}

.signupPageBox {
  margin-bottom: 10rem;
}

.signupPageBox > p {
  font-size: 24px;
  line-height: 1em;
  color: #495057;
}

.signupPageBox label {
  font-weight: 600;
  color: #495057;
}

/* 0302 
코드들이 꼬여서 이곳에 정리
수정 */
.Participant_padding {
  padding: 2rem 0;
}

.Participant_list {
  display: flex;
  flex-wrap: wrap;
  font-size: 13px;
  height: 100%;
}

.Participant_img {
  height: auto;
  gap: 20px;
  padding: 2rem 0;
}

.Participant_img > div:nth-child(1) {
  width: 30%;
  height: 100%;
}

.ptp_img > div:nth-child(1) {
  height: 305px;
}

.Participant_img > div:nth-child(1) > img {
  height: 100%;
  width: 100%;
}

.Participant_list .row {
  margin: 0;
  width: 50%;
  padding: 0;
}

.Participant_list .row > span {
  width: 30%;
  padding: 2rem 1rem;
  background: var(--colorBackground);
  height: 100%;
}

.Participant_list .row > p {
  width: 70%;
}

.Participant_list .row > input {
  width: 70%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  padding-left: 8px;
  padding: 2rem 8px 2rem;
  margin: 0;
}

.UserDesc .row > input:focus::placeholder {
  color: black;
}

.UserDesc .row>div>input:focus::placeholder {
  color: black;
}

.UserDesc .row>input:focus {
  background: var(--colorLogo);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: white;
  text-decoration: underline;
  text-underline-position: under;
}

.UserDesc .row>div>input:focus {
  background: var(--colorLogo);
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
  color: white;
  text-decoration: underline;
  text-underline-position: under;
}

.Participant_list .row > select {
  width: 70%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 14px;
  padding-left: 8px;
  height: 100%;
  padding: 2rem 8px 2rem;
}

.UserDesc .row > select > option {
  color: black;
  background-color: white;
}

.UserDesc .row>select>optgroup {
  color: white;
  background-color: var(--colorLogo);
}

.UserDesc .row>select>optgroup>option {
  color: black;
  background-color: white;
}

.Participant_Btn {
  padding-top: 2rem;
}

.Participant_Btn > button {
  width: 100%;
}

/* 권한 및 비밀번호 변경 */
.pms_tit {
  padding: 5rem 0;
}

.pms_tit > h1 {
  padding-left: 2rem;
  color: var(--colorBlack);
  font-weight: bold;
  margin-left: 0px;
  display: block;
  font-size: 3rem;
  line-height: 3rem;
}

/* 상세보기 페이지 */
.result_tit {
  height: 80px;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.result_list > p {
  font-size: 12px;
  padding: 8px 10px;
  cursor: text;
}

.result_list2 {
  color: var(--colorBlack);
  margin-left: 0px;
  display: block;
  font-size: 3rem;
  font-weight: bold;
  line-height: 3rem;
}

.result_list2 > p {
  padding-left: 2rem;
}

/* 조 편성하기 */
.group_input {
  width: 100%;
  padding: 12px;
}

/* 상세보기 맨 밑 조 구성원 변경 */
.team_table {
  /*border: 1px solid #ccc;*/
  border-collapse: collapse;
  margin-top: 10px;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.team_table caption,
.modal_table caption {
  display: none;
}

.team_table tr {
  background: #fff;
  border-bottom: 1px solid #ddd;
  padding: 0.35em;
}

.team_table th,
.team_table td {
  padding: 13px 10px 13px 10px;
  text-align: center;
}

.team_table tbody tr.border_bg,
.modal_table tr.border_bg {
  background: #fff;
}

.team_table th {
  font-size: 1em;
  letter-spacing: 0.1em;
  background: #f3f6f9;
  color: #2f2f2f;
  white-space: nowrap;
}

.team_table td {
  font-size: 1em;
  position: relative;
  /* white-space: nowrap; */
}

.team_table td[data-th]::before {
  display: none;
  text-transform: uppercase;
  content: attr(data-th);
}

.team_table.center {
  width: 70%;
  border: 1px solid #ddd;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

.table > tbody > tr:nth-of-type(even) {
  background-color: #e0dfdf;
}

.Participant_list .row_date > input {
  width: 23%;
}

/* 상세보기 페이지 */

/* 높이뛰기 */

.decathlon_flex {
  flex-direction: column;
}

.decathlon_container {
  width: 100%;
}

/* 페이지 보기 */
.pageArea {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 1rem;
}

.page_size {
  height: 40px;
}

.changePageSize {
  padding: 0 2.5rem 0 1rem;
  height: 100%;
  border-radius: 10px;
  border: 1px solid var(--colorBorder);
  outline: none;
  cursor: pointer;
  appearance: none;
  background: url(/assets/images/bg_selectArrow_down.png) right center no-repeat;
}

/* ad카드 */

.AD_box {
  user-select: none;
  height: 297mm;
  width: 210mm;
  margin: 0 auto;
  position: relative;
  background: white;
}


@a4 {
  size: A4;
}

@media print {
  .a4 {
    page-break-after: always;
  }

  body {
    border: 0;
    margin: 0;
    padding: 0;
  }

}

.AD_front {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10.5cm;
  height: 15.5cm;
}

.AD_container {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 23px;
  font-weight: bold;
}

.AD_card {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
}

.AD_card > img {
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 10px;
  object-fit: cover;
}

.AD_front_User {
  position: absolute;
  top: 12%;
  width: 170px;
  left: 7%;
  height: 200px;
}

.AD_front_name {
  font-size: 25px;
  font-weight: bold;
}

.AD_front_name > p {
  width: 100%;
  line-height: 18px;
  word-break: break-word;
  letter-spacing: -0.5px;
}

.AD_front_desc {
  font-size: 16px;
  padding-top: 5px;
  position: absolute;
  bottom: 30%;
  left: 7%;
  font-weight: 500;
}


.AD_front_desc>p {
  line-height: 15px;
  word-spacing: 5px;
}

.AD_front_User > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.User_permit {
  font-size: 10px;
}

.village {
  color: white;
  position: absolute;
  bottom: 2%;
  left: 20%;
  font-weight: bold;
}

.eat {
  position: absolute;
  width: 23px;
  height: 23px;
  bottom: 1.5%;
  left: 32%;
}

.All_Venue {
  position: absolute;
  right: 8%;
  bottom: 12%;
  color: var(--colorLogo);
  line-height: 48px;
  font-weight: 500;
  font-size: 11rem;
}

.transport {
  position: absolute;
  color: white;
  bottom: 2%;
  left: 44%;
}

.Seats {
  position: absolute;
  color: white;
  bottom: 2%;
  left: 58%;
}

.Access_venue {
  position: absolute;
  right: 7%;
  bottom: 2%;
  display: flex;
  gap: 7px;
}

.Access_venue > p {
  color: white;
}

.User_permit > p {
  width: 17px;
  text-align: center;
  height: 17px;
}

.User_permit > img {
  width: 16px;
  height: 16px;
  object-fit: cover;
}

.AD_form {
  position: absolute;
  bottom: 36%;
  left: 7%;
}

.AD_Venue {
  position: absolute;
  bottom: 2%;
  font-weight: bold;
  left: 6%;
}

.AD_Venue > p {
  color: white;
}

.AD_country {
  font-size: 27px;
  position: absolute;
  bottom: 46%;
  left: 18.5%;
  line-height: 27px;
  font-weight: 700;
  display: flex;
}


.AD_front_text {
  font-size: 11px;
  padding-top: 5px;
  position: absolute;
  bottom: 24%;
  left: 7.5%;
  font-weight: 300;
}

.AD_front_text p {
  line-height: 15px;
  word-spacing: 5px;
}

/* 뒷면 */
.AD_back {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10.5cm;
  height: 15.5cm;
}

.AD_back_User {
  position: absolute;
  top: 6%;
  width: 64px;
  height: 70px;
  left: 8%;
}

.AD_back_User > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.AD_back_name {
  position: absolute;
  top: 5%;
  left: 0;
  padding-left: 28.5%;
  padding-right: 36%;
  width: 100%;
}

.AD_back_name > p {
  font-size: 10px;
  line-height: 14px;
  font-weight: 300;
}

.AD_back_nationality {
  position: absolute;
  top: 9.4%;
  left: 43.5%;
  line-height: 19px;
  font-weight: 100;
}

.AD_back_nationality > p {
  font-size: 10px;
}

/* 조편성하기 부분 */
.filed2_Table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}

.filed2_list > tr > th {
  padding: 2rem 0;
  border-top: 1px solid var(--colorBorder);
  font-size: 16px;
}

.filed2_list > tr > th:nth-child(1) {
  width: 25%;
  border-left: 1px solid var(--colorBorder);
  border-right: 1px solid var(--colorBorder);
}

.filed2_list > tr > th:nth-child(2) {
  width: 75%;
  border-left: 1px solid var(--colorBorder);
  border-right: 1px solid var(--colorBorder);
}

.filed2_Table > tbody > tr > td:nth-child(1) > input {
  border: 0px;
  text-align: center;
  background: transparent;
  width: 100%;
}

.filed2_list {
  position: relative;
}

.filed2_bottom {
  width: 100%;
  background: linear-gradient(
    to right,
    #eb0e1f 0%,
    #f39801 33%,
    #18a53d 66%,
    #005c9f 100%
  );
  height: 4px;
  position: absolute;
}

.filed2 {
  display: block !important;
}

.filed2_form {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.grouping_body>tr>td {
  text-align: center;
  vertical-align: middle;
}

.grouping_body>tr>td:first-child {
  border-left: 1px solid var(--colorBorder);
  border-bottom: 1px solid var(--colorBorder);
}

.grouping_body>tr>td>input {
  border: 0;
  text-align: center;
  padding: 1rem;
  width: 100%;
  background-color: transparent;
}


.grouping_body>tr>td>input[name="name[]"] {
  width: 100%;
  border: 1px solid var(--colorBorder);
}

.grouping_body>tr>td>input[name="name[]"]:focus {
  background-color: var(--colorPink2);
  outline: 0;
}

/* 국가 및 선수 랭킹 index 페이지  */

.box_table {
  width: 100%;
  background: white;
  border-collapse: collapse
}

.table_head {
  background: #545454;
  line-height: 20px;
  font-weight: 500;
  width: 100%;
  color: white;
}

.table_head > tr > th {
  padding: 1.5rem 0;
  text-align: center;
}

/*  참가자 관리 작성 부분 선수진*/
.entry_table {
  font-size: 14px;
}

/* 결과지 10종 경기 */
.result_table {
  background: var(--colorBackground);
  position: relative;
}

.result_table > tr > th {
  padding: 2rem 0;
  border: 1px solid var(--colorBorder);
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.result_tableBTN {
  height: 50%;
  font-size: 12px;
  color: white;
  display: block;
  padding: 6px;
  border: 0;
  border-radius: 5px;
  margin: 6px auto;
}

.result_table > tr > th > input {
  text-align: center;
  border: 0;
  background: transparent;
  width: 100%;
  font-size: 12px;
  outline: 0;
}

.De_tbody > tr > td {
  padding: 0.5rem 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--colorBorder);
}

.field3_hover>tr>td {
  padding: 0.5rem 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--colorBorder);
}

.table_tbody>tr>td {
  padding: 1rem 0;
  text-align: center;
  vertical-align: middle;
  position: relative;
  border: 1px solid var(--colorBorder);
}

.table_tbody > tr:hover {
  background: #ffd3a6d9;
  color: rgb(0, 0, 0);
}

.table_tbody>tr:hover>td {
  border-color: transparent;
}

.field3_hover:hover {
  background: #ffd3a6d9;
  color: rgb(0, 0, 0);
  border-color: transparent;
}

.field3_hover:hover>tr>td {
  border-color: transparent;

}

.field3_hover>tr:hover td>input {
  color: rgb(0, 0, 0);
}

.field3_hover>tr>td>input {
  text-align: center;
  border: 0;
  background: transparent;
  width: 100%;
  font-size: 12px;
  outline: 0;
}

.De_tbody>tr:hover {
  background: #ffd3a6d9;
  color: rgb(0, 0, 0);
}

.De_tbody > tr:hover td {
  border: 0;
}

.De_tbody > tr:hover td > input {
  color: rgb(0, 0, 0);
}

.De_tbody>tr>td>input {
  text-align: center;
  border: 0;
  background: transparent;
  width: 100%;
  font-size: 12px;
  outline: 0;
}

.info_table>tr>td {
  border-right: 1px solid var(--colorBorder);
}

.input_table>tr>td {
  padding: 0.5rem 0;
  text-align: center;
  vertical-align: middle;
  border: 1px solid var(--colorBorder);
}

.input_table > tr > td > input {
  text-align: center;
  padding: 0.5rem 0;
  border: 0;
  background: transparent;
  width: 100%;
  font-size: 12px;
}

/* 계정 관리 table */
.table_UserID {
  width: 100%;
}

.table_UserID > tbody > tr > td {
  text-align: left;
}

.table_UserID > tbody > tr > td > div {
  display: flex;
}

/* 높이뛰기 상세보기*/
.high_jump_table > tr > td {
  padding: 2rem 0;
  border: 1px solid var(--colorBorder);
  text-align: center;
  vertical-align: middle;
  font-size: 12px;
}

.relay_result {
  padding-bottom: 2rem;
}

.result_BTN {
  display: flex;
  justify-content: space-between;
}

/* 높이뛰기 끝 */

.time_row > span {
  margin: 0 0.5rem !important;
}

.time_row > span:nth-child(1) {
  margin: 0 1rem 0 0 !important;
}

.time_row > div {
  width: 80%;
  align-items: center;
}

.time_row > div > input {
  width: 80px;
  align-items: center;
  margin: 0 0.5rem;
}

/* ad카드 여부 */
.gnb_active {
  border-radius: 0.475rem;
  background: var(--colorBackground);
}

.gnb_active > div:nth-child(1) > span > i:nth-child(1) {
  padding-right: 5px;
}

.gnb_active > div > span > i:nth-child(1) {
  display: none;
}

.gnb_active > div:nth-child(1) > span > i:nth-child(2) {
  display: inline-block;
  padding-right: 5px;
}

.gnb_active > div > span > i:nth-child(3) {
  transform: rotate(180deg);
  transition-duration: 0.5s;
}

.gnb_active > div:nth-child(1) > span {
  color: var(--colorLogo);
}

.AD_on {
  background: var(--colorLogoOrange);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}

.AD_off {
  background: var(--colorpurple);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: white;
}

.De_thead > tr > th > input {
  text-align: center;
  border: 0;
  background: transparent;
  width: 100%;
  font-size: 12px;
  outline: 0;
}

/* 선수 증명서 발급 */
* {
  box-sizing: border-box;
}

.page2 {
  width: 21cm;
  min-height: 29.7cm;
  padding: 7rem 5rem;
  border: 2px solid salmon;
  text-align: center;
  position: relative;
}

.pdf_img {
  width: 50rem;
  height: 50rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.2;
}

.pdf_img > img {
  width: 100%;
  height: 100%;
}

.paf_tit {
  padding: 2rem 0px;
  font-weight: bold;
  font-size: 43px;
  word-spacing: 9px;
  line-height: 35px;
}

.pdf_Number {
  position: absolute;
  top: 4%;
  left: 5%;
}

.pdf_left {
  font-size: 17px;
  line-height: 17px;
  font-weight: 500;
  text-align: left;
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.pdf_left > div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.pdf_middle {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding-bottom: 9rem;
  padding-top: 1rem;
}

.pdf_middle > div {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.pdf_middle > div > .middle_tit {
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}

.pdf_middle > div > p {
  font-size: 30px;
  line-height: 30px;
}

.pdf_certi {
  font-size: 24px;
  font-weight: bold;
  padding-bottom: 4rem;
}

.pdf_date {
  font-size: 20px;
  font-weight: 300;
  padding-bottom: 3rem;
}

.pdf_stamp {
  font-size: 40px;
  font-weight: bold;
  padding-bottom: 3rem;
  position: absolute;
  bottom: 5%;
  left: 18%;
}

.pdf_stamp > p {
  line-height: 40px;
}

/* 메인 데이터 테이블 */
.dataTables_paginate {
  width: 100%;
  padding-top: 3rem;
  display: flex;
  gap: 0.8rem;
  justify-content: center;
}

.dataTables_paginate>span {
  display: flex;
  gap: 0.8rem;
}

.paginate_button {
  border: 1px solid var(--colorBorder);
  border-radius: 50%;
  color: #111;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.current {
  text-align: center;
  border-radius: 50%;
  width: 42px;
  height: 42px;
  background-color: var(--colorLogo);
  color: #fff;
}

@media (max-width: 1440px) {
  .gnb > .gnbList {
    font-size: 12px;
    letter-spacing: 0px;
  }

  .headerBodyArea .UserPage > a:nth-child(1) > p,
  .headerBodyArea .UserPage > a:nth-child(2) > p {
    font-size: 14px;
  }

  .BIG_btn2 {
    width: auto;
    height: 40px;
    font-size: 16px;
    padding: 0 1rem;
  }

  .matchBtn {
    width: auto;
  }

  .defaultList .Ranklist_result > ul > li > p > button {
    font-size: 12px;
    line-height: 12px;
  }

  .account_label > label > input[type="checkbox"] {
    width: 14px;
    height: 14px;
  }

  .schedule_filed .filed_item > ul > li > input {
    font-size: 10px;
  }

  .schedule_filed .filed_item > ul > li > select {
    font-size: 10px;
  }

  .schedule_filed .filed_item > ul > li > p {
    font-size: 10px;
  }

  /* 높이뛰기 */
  .filed_high_flex {
    flex-direction: column;
  }

  .filed_container {
    width: 100%;
  }

  .filed_high_list > ul > li > p,
  .filed_high_item > ul > li > p {
    font-size: 14px;
  }

  /* 릴레이 */
  .filed_relay_list > ul > li > p,
  .filed_relay_item > ul > li > p {
    font-size: 10px;
  }

  .filed_jump_list > ul > li > p,
  .filed_jump > li > p {
    font-size: 14px;
  }

  /* 7종 경기 */
  .heptathlon_list > ul > li {
    font-size: 14px;
  }

  /* 10종 경기 */
  .decathlon_list > ul > li {
    font-size: 12px;
  }
}

@media (max-width: 1024px) {
  .item_popup {
    width: 100px;
  }

  .MainRank {
    padding: 2rem;
  }

  .headerBodyLayout .logo a {
    height: 2.5rem;
  }

  /* header */
  .headerBodyLayout .logo {
    height: 4rem;
    padding-top: 1rem;
  }

  .gnb {
    width: 100%;
    font-size: 14px;
  }

  .gnbList > li {
    width: 20%;
  }

  .headerBodyArea .UserPage {
    height: 4rem;
    line-height: 4rem;
  }

  .gnbDetailMenuList {
    top: 65px;
  }

  .gnbList > li > div:nth-child(1) > span {
    line-height: 4rem;
    height: 4rem;
  }

  .headerBodyArea .UserPage > a:nth-child(1) > p,
  .headerBodyArea .UserPage > a:nth-child(2) > p {
    font-size: 10px;
  }

  .headerWrapper .headerBodyLayout {
    height: 4rem;
  }

  .gnbDetailMenuList > ul > li > a {
    padding: 1rem;
    line-height: 40px;
  }

  .gnb > .gnbList {
    font-size: 10px;
  }

  .changePageSize {
    font-size: 10px;
  }

  .defaultSelectArea select {
    font-size: 10px;
  }

  .resultList > select {
    font-size: 10px;
  }

  .MainRank .MainRank_tit > h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  /* athlete list */




  .defaultBtn {
    padding: 0px 5px;
    font-size: 10px;
    line-height: 10px;
  }

  .BIG_btn2 {
    width: auto;
    font-size: 12px;
    height: 30px;
  }

  .nextBTN {
    padding: 16px;
  }

  .changePwBtn {
    padding: 16px;
    font-size: 14px;
  }

  .BIG_btn {
    font-size: 10px;
    padding: 0 2rem;
  }

  /* coach list */

  .coachList .Ranklist_result > ul > li > p > button {
    font-size: 10px;
    line-height: 10px;
  }

  /* 선수 정보 수정 */

  .UserDesc .row>select {
    font-size: 14px;
  }

  .account_label > label > input[type="checkbox"] {
    width: 12px;
    height: 12px;
  }

  .UserProfile > form {
    font-size: 14px;
  }

  .athlete {
    padding: 2rem;
  }

  .UserDesc .row > div > input {
    font-size: 14px;
  }

  /* 업무 일정 조 편성  */
  .filed_list_item {
    width: 100%;
  }

  .schedule_filed {
    font-size: 12px;
    line-height: 17px;
    padding: 3rem;
  }

  .schedule_filed .filed2_list > ul > li > p {
    font-size: 16px;
  }

  .schedule_filed > .profile_logo {
    width: 80px;
    height: 80px;
  }

  .throw_item > ul > li > input,
  .throw_item > ul > li > select,
  .throw_item > ul > li > span,
  .Thorw_result .throw_list > ul {
    font-size: 12px;
  }

  .high_jump {
    font-size: 12px;
  }

  .Thorw_result {
    font-size: 12px;
  }

  .run_item > ul > li > input {
    font-size: 12px;
  }

  .run_item > ul > li > select {
    font-size: 12px;
  }

  .relay_item {
    font-size: 12px;
  }

  .relay_list {
    font-size: 12px;
  }

  .labelBox > h1 {
    font-size: 4rem;
    line-height: 4rem;
  }

  .Participant_list .row > input {
    width: 70%;
    font-size: 10px;
  }

  .Participant_list .row > select {
    width: 70%;
    font-size: 10px;
  }

  .Participant_list {
    font-size: 10px;
  }

  .Participant_list .row_date > input {
    width: 23%;
  }

  .filed_BTN .filedBTN {
    font-size: 12px;
  }

  .pageUp {
    display: block;
  }

  .pageUp .page_size {
    margin: 1rem 0;
  }

  /* 창던지기 */
  .filed_throw_list > ul {
    gap: 0;
  }

  /* 창 던지기 끝 */
  /* 높이뛰기 */
  .filed_high_list > ul > li > p,
  .filed_high_item > ul > li > p {
    font-size: 10px;
  }

  .filed_jump_list > ul > li > p,
  .filed_jump > li > p {
    font-size: 10px;
  }

  /* 7종 경기 */
  .heptathlon_list > ul > li {
    font-size: 10px;
  }

  .heptathlon_list > ul > li > p {
    font-size: 12px;
  }

  /* 10종 경기 */
  .decathlon_list > ul > li {
    font-size: 10px;
  }

  .decathlon_list > ul {
    padding: 1rem 0;
  }

  /* 테이블 선수진 */
  .entry_table {
    font-size: 10px;
  }

  /* 10종 경기 테이블 */
  .result_tableBTN {
    height: 50%;
    color: white;
    display: block;
    padding: 3px;
    border: 0;
    border-radius: 5px;
    margin: 3px auto;
    font-size: 10px;
  }

  .result_table > tr > th {
    font-size: 10px;
  }

  .De_tbody > tr > td > input {
    font-size: 10px;
  }

  .field3_hover>tr>td>input {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  /* hedaer */
  header .gnb {
    width: 100%;
  }

  .menuhide {
    display: none;
  }

  .gnbMask_right {
    height: 100%;
    position: fixed;
    width: 50%;
    z-index: 13;
    right: 0;
    background: rgba(0, 0, 0, 0.3);
  }

  .defaultSelectArea .defaultSearchInput {
    width: 130px;
  }

  .gnbList > li {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .gnb > .gnbList {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    font-size: 12px;
  }

  .gnbList > li > a {
    width: 20%;
    background: white;
  }

  .gnbDetailMenuList > ul > li > a {
    width: 100%;
    display: block;
    padding: 0;
    border: 0;
  }

  .gnbsied {
    height: 100%;
    position: fixed;
    width: 50%;
    z-index: 13;
    background: white;
  }

  .gnbList > li > div:nth-child(1) > span > i:nth-child(3) {
    display: none;
  }

  .gnbList > li > div:nth-child(1) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
  }

  .gnbBack {
    border: 0;
  }

  .gnbBack > div:nth-child(1) > span {
    color: var(--colorLogo);
  }

  .gnbBack > div:nth-child(1) > i {
  }

  .gnbItem > div:nth-child(1) > i:nth-child(2) {
    display: inline-block;
  }

  .gnbBack > div:nth-child(1) > i:nth-child(2) {
    display: none;
  }

  .gnbBack > div:nth-child(1) > i:nth-child(3) {
    display: block;
  }

  .gnbDetailMenuList {
    display: none;
    position: relative;
    width: 100%;
    top: 0;
    box-shadow: none;
  }

  .gnbDetailMenuList > ul > li {
    background: white;
    border-bottom: 1px solid var(--colorBackgroundGray);
    /* border: 0; */
    border-radius: 0px;
  }

  .gnbDetailMenuList > ul > li:first-child {
    border-top: 1px solid var(--colorBackgroundGray);
  }

  .gnbDetailMenuList > ul {
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
  }

  .gnbMask {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    line-height: 1.8em;
  }

  .menuBtn {
    display: block;
    font-size: 20px;
  }

  /* 정보 보기 */
  .UserProfile > form {
    font-size: 12px;
  }

  /* 업무 일정 조 편성  */
  .schedule_filed {
    font-size: 10px;
    line-height: 12px;
  }

  .schedule_filed .filed_item > ul > li > input {
    font-size: 10px;
    line-height: 12px;
  }

  .schedule_filed .filed_item > ul > li > p {
    font-size: 10px;
    line-height: 12px;
  }

  .schedule_filed .filed_item > ul > li > select {
    font-size: 10px;
    line-height: 12px;
  }

  .schedule_filed > .profile_logo {
    width: 60px;
    height: 60px;
  }

  .athlete > .profile_logo {
    width: 60px;
    height: 60px;
  }

  .throw_item > ul > li > input,
  .throw_item > ul > li > select,
  .throw_item > ul > li > span,
  .Thorw_result .throw_list > ul {
    font-size: 10px;
  }

  .modify_Btn > button {
    height: 4rem;
    font-size: 12px;
    width: 10rem;
  }

  .Participant_Btn > button {
    width: 100%;
  }

  .high_jump {
    font-size: 10px;
  }

  .Thorw_result {
    font-size: 10px;
  }

  .run_item > ul > li > input {
    font-size: 10px;
  }

  .run_item > ul > li > select {
    font-size: 10px;
  }

  .relay_item {
    font-size: 10px;
  }

  .relay_list {
    font-size: 10px;
  }

  .top {
    width: 36px;
    height: 36px;
  }

  .topBtn {
    font-size: 1.4em;
    padding-top: 7px;
  }

  .filed_BTN .filedBTN {
    font-size: 10px;
  }

  /* 창던지기 끝 */

  /* 7종 경기 */

  .throwDesc > .row > span {
    font-size: 10px;
    width: 25%;
  }

  .UserDesc .throw_row > input {
    font-size: 10px;
    width: 75%;
  }
}
